<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tom.projet_if26">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Search" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Profil" />
        <activity android:name=".ListeExos"
            android:parentActivityName=".Home"/>
        <activity android:name=".DetailExo"
            android:parentActivityName=".ListeExos"/>
        <activity android:name=".ExercicePredefini"
          android:parentActivityName=".ListeExos"  />
        <activity android:name=".Propos"
            android:parentActivityName=".Profil"></activity>
    </application>

</manifest>